/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  
}

.btn-primary {
    color: #fff;
    background-color: #e5e5e5;
    border-color: #1861ac;
}
.btn {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #e5e5e5;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    color: #e5e5e5;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 32px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #000000;
}
.btn:hover {
    background: linear-gradient(to bottom, #808080 5%, #e5e5e5 100%);
    background-color: #e5e5e5;
}

.btn:active {
    position: relative;
    top: 1px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
   color: #0366d6;
    background-color: black;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
container1 {
    width: 500px;
    height: 350px;
    margin-top: 200px;
}
container2 {
    width: 1000px;
    height: 700px;
    margin-top: 200px;
}

.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -100;
}

    .cb-slideshow:after {
        content: '';
        background: transparent url(../images/pattern.png) repeat top left;
    }

    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: -1;
        animation: imageAnimation 36s linear infinite 0s;
    }

    .cb-slideshow li div {
        z-index: 1000;
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        text-align: center;
        opacity: 0;
        color: #fff;
        z-index: 0;
        animation: titleAnimation 36s linear infinite 0s;
    }

        .cb-slideshow li div h3 {
            font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
            font-size: 250px;
            padding-left: 200px;
            line-height: 100px;
        }

.cb-slideshow li:nth-child(1) span {
    background-image: url(https://m.media-amazon.com/images/I/61vysAVtFBL._AC_SL1406_.jpg);
}

edit {
    background-image: url(https://m.media-amazon.com/images/I/61vysAVtFBL._AC_SL1406_.jpg);
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(https://cdn.thewirecutter.com/wp-content/uploads/2018/09/04-tape-measure-lixer-caliber.jpg);
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(https://cdn.shopify.com/s/files/1/0423/7901/8398/products/439eb06032bac09ee49378de61f2369e_1200x850.jpg?v=1593817500);
    animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(https://tabletopics.biz/wp-content/uploads/2016/03/rosewood-blog.png);
    animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(https://newsroom.fedex.com/wp-content/uploads/2021/07/FedEx_Pic-1.jpg);
    animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(https://www.airfreight-logistics.com/wp-content/uploads/2020/03/ups-us-flights-496157.jpg);
    animation-delay: 30s;
}

    .cb-slideshow li:nth-child(2) div {
        animation-delay: 6s;
    }

    .cb-slideshow li:nth-child(3) div {
        animation-delay: 12s;
    }

    .cb-slideshow li:nth-child(4) div {
        animation-delay: 18s;
    }

    .cb-slideshow li:nth-child(5) div {
        animation-delay: 24s;
    }

    .cb-slideshow li:nth-child(6) div {
        animation-delay: 30s;
    }

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: .7
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}



.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  z-index: 6;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.cb-slideshow2:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -100;
}

.cb-slideshow2:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}

.cb-slideshow2 li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow2 li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    z-index: 0;
    animation: titleAnimation 36s linear infinite 0s;
}

    .cb-slideshow2 li div h3 {
        color: black;
        font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
        font-size: 180px;
        padding-bottom: 10px;
        line-height: 200px;
    }

.cb-slideshow2 li:nth-child(1) span {
    background-image: url(https://c.stocksy.com/a/OPg500/z9/1354662.jpg);
}

.cb-slideshow2 li:nth-child(2) span {
    background-image: url(https://c.stocksy.com/a/PPg500/z9/1354663.jpg);
    animation-delay: 6s;
}

.cb-slideshow2 li:nth-child(3) span {
    background-image: url(https://images.fineartamerica.com/images-medium-large-5/3-womans-eye-kate-jacobsscience-photo-library.jpg);
    animation-delay: 12s;
}

.cb-slideshow2 li:nth-child(4) span {
    background-image: url(https://c.stocksy.com/a/PPg500/z9/1354663.jpg);
    animation-delay: 18s;
}

.cb-slideshow2 li:nth-child(5) span {
    background-image: url(https://c.stocksy.com/a/OPg500/z9/1354662.jpg);
    animation-delay: 24s;
}

.cb-slideshow2 li:nth-child(6) span {
    background-image: url(https://images.fineartamerica.com/images-medium-large-5/3-womans-eye-kate-jacobsscience-photo-library.jpg);
    animation-delay: 30s;
}

.cb-slideshow2 li:nth-child(2) div {
    animation-delay: 6s;
}

.cb-slideshow2 li:nth-child(3) div {
    animation-delay: 12s;
}

.cb-slideshow2 li:nth-child(4) div {
    animation-delay: 18s;
}

.cb-slideshow2 li:nth-child(5) div {
    animation-delay: 24s;
}

.cb-slideshow2 li:nth-child(6) div {
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 0;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: .7
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}
