/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
container1 {
    width: 1000px;
    height: 700px;
    margin-top: 200px;
}

.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -100;
}

    .cb-slideshow:after {
        content: '';
        background: transparent url(../images/pattern.png) repeat top left;
    }

    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: -1;
        animation: imageAnimation 36s linear infinite 0s;
    }

    .cb-slideshow li div {
        z-index: 1000;
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 100%;
        text-align: center;
        opacity: 0;
        color: #fff;
        z-index: 0;
        animation: titleAnimation 36s linear infinite 0s;
    }

        .cb-slideshow li div h3 {
            font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
            font-size: 240px;
            padding: 0;
            line-height: 200px;
        }

.cb-slideshow li:nth-child(1) span {
    background-image: url(https://media.istockphoto.com/photos/modern-presentation-background-picture-id1215185063?k=20&m=1215185063&s=170667a&w=0&h=MvjuV0gnatIMvsBqQCyxU3XLKT6TTk4gEoEc6WgTq9g=);
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(https://media.istockphoto.com/photos/modern-presentation-background-picture-id1215185067?k=20&m=1215185067&s=170667a&w=0&h=-Mmb8htyLMQ_AllHr24Gd5Jw7ccUizkt2pkLpgmjU6M=);
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(https://media.istockphoto.com/photos/modern-presentation-background-picture-id1215185049?k=20&m=1215185049&s=170667a&w=0&h=C44OWXx8HvbLu9Ty6LQX1yUUF9T_11HIirtjurifdIA=);
    animation-delay: 12s;
}

    .cb-slideshow li:nth-child(4) span {
        background-image: url();
        animation-delay: 18s;
    }

    .cb-slideshow li:nth-child(5) span {
        background-image: url(../images/5.jpg);
        animation-delay: 24s;
    }

    .cb-slideshow li:nth-child(6) span {
        background-image: url(../images/6.jpg);
        animation-delay: 30s;
    }

    .cb-slideshow li:nth-child(2) div {
        animation-delay: 6s;
    }

    .cb-slideshow li:nth-child(3) div {
        animation-delay: 12s;
    }

    .cb-slideshow li:nth-child(4) div {
        animation-delay: 18s;
    }

    .cb-slideshow li:nth-child(5) div {
        animation-delay: 24s;
    }

    .cb-slideshow li:nth-child(6) div {
        animation-delay: 30s;
    }

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  z-index: 6;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
