@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MegaDesk!</h1>
    <div class="btn"><a href="Quotes/ViewAllQuotes">View All Quotes</a></div>
    <div class="btn"><a href="Quotes/SearchQuotes">Search Quotes</a></div>
    <div class="btn"><a href="Quotes/AddQuote">Add New Quote</a></div>
</div>
